.about-wrapper {
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 50px 60px;
    h2 {
        width: 100%;
    }
    
}

.tmdb-logo {
    width: 160px;
    height: 60px;
    background-repeat: no-repeat;
    background-image: url(/src/assets/tmdb-logo.svg);
}

@media (min-width: 620px) {
    .about-wrapper {
        justify-content: space-between;
        section {
            width: 47%;
        }
    }
  }